.battleship-header {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.battleship-header > img {
  aspect-ratio: 1;
  width: 200px;
}

.battleship-header h1 {
  margin: 0;
  font-family: 'Orbitron';
}