.battleship-header {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.battleship-header > img {
  width: 150px;
}

.battleship-header h1 {
  margin: 0;
  font-family: 'Orbitron';
  font-style: normal;
}